body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg,plum,mediumpurple);

}

.header {
    font-size: 20px;
    line-height: 32px;
    margin: 0 0 12px 0;
    color: #fff;
}
.container{
    border-radius: 8px;
    width: 100%;
    max-width: 480px;
    max-height: 100%;
    background-color: #10101d;
    padding: 24px;
    overflow: auto;
}




